@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <NavMenu />

    <main class="flex-1 container mx-auto p-4">
        @Body
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
        <p>&copy; 2025 PowerPulse.</p>
    </footer>
</div>