@using Blazored.LocalStorage
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@rendermode InteractiveServer

<div class="nav-menu">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center gap-4">
        <a href="/">
            <img src="/white-logo.svg" alt="PowerPulse Logo" class="h-6 w-auto" />
        </a>
        <div class="flex space-x-4 items-center">
            @if (IsAuthenticated)
            {
                <a href="/">Дашборд</a>
                <a href="/readings">Показания</a>
                <button @onclick="Logout" class="btn btn-secondary">Выйти</button>
            }
            else
            {
                <a href="/login" class="hover:underline">Войти</a>
                <a href="/register" class="hover:underline">Зарегистрироваться</a>
            }
            <button @onclick="ChangeTheme" class="theme-button p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700"></button>
        </div>
    </div>
</div>

@code {
    private bool IsAuthenticated { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("updateTheme");
        await UpdateAuthState();
    }

    private async Task UpdateAuthState()
    {
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        IsAuthenticated = !string.IsNullOrEmpty(token);
        StateHasChanged();
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        IsAuthenticated = false;
        StateHasChanged();
        Navigation.NavigateTo("/login");
    }

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += async (sender, args) =>
        {
            await UpdateAuthState();
        };
    }
    
    private async Task ChangeTheme()
    {
        await JSRuntime.InvokeVoidAsync("toggleTheme");
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= async (sender, args) =>
        {
            await UpdateAuthState();
        };
    }
}